<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- SEO -->
  {% seo %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">

{% if page.layout == 'chapter' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Chapter",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "isPartOf": {
    "@type": "Book",
    "name": "Swift Algorithms & Data Structures",
    "author": {
      "@type": "Person",
      "name": "Wayne Bishop"
    },
    "bookEdition": "5th Edition",
    "inLanguage": "en",
    "genre": "Computer Science"
  },
  "author": {
    "@type": "Person",
    "name": "Wayne Bishop"
  },
  "url": "{{ page.url | absolute_url }}"
}
</script>
{% endif %}
{% if page.layout == 'home' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "name": "Swift Algorithms & Data Structures",
  "bookEdition": "5th Edition",
  "author": {
    "@type": "Person",
    "name": "Wayne Bishop",
    "url": "https://www.linkedin.com/in/waynebishop/"
  },
  "description": "{{ site.description }}",
  "inLanguage": "en",
  "genre": "Computer Science",
  "url": "{{ site.url }}{{ site.baseurl }}/"
}
</script>
{% endif %}
</head>
